{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<div class="container flex flex-col items-center mx-auto gap-12 py-12">
    <div class="flex items-center text-[#003f7e] gap-4">
        <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/2240/2240692.png" alt="RentAcross logo" width="50"></a>
        <a class="nav-btn font-bold text-3xl relative after:content-[''] after:bg-[#005b9c] after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/">RentAcross</a>
    </div>
    <div class="bg-white rounded-lg shadow-2xl md:px-8 px-6 py-6 mb-8 md:max-w-xl max-w-sm">
        <h1 class="md:text-3xl text-xl font-bold text-slate-700 pb-6">Login</h1>  
        <form method="POST">  
            {% csrf_token %}  
            <table class="table-fixed w-full">  
                <tr>
                    <td class="text-gray-700 font-medium text-sm md:text-base">
                        <label for="username">Username:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="username" placeholder="Username" maxlength="25" required id="username" class="bg-gray-100 text-sm md:text-base py-3 px-4 border-2 w-full focus:shadow-lg">
                    </td>
                </tr>
                <tr>
                    <td class="pt-6 text-gray-700 font-medium text-sm md:text-base">
                        <label for="password">Password:</label>
                    </td>
                </tr>
                <tr>
                    <td> 
                        <input type="password" name="password" required id="password" class="bg-gray-100 text-sm md:text-base py-3 px-4 border-2 w-full focus:shadow-lg">                        
                    </td>
                </tr>
                <tr>
                    <td class="pt-10 pb-4 flex justify-center text-sm md:text-base">
                        <input class="btn login_btn transition-color ease-in-out duration-100 bg-blue-500 hover:bg-blue-700 text-white font-medium rounded-full md:px-36 px-24 py-3 cursor-pointer" type="submit" value="Login">
                    </td>
                </tr>
                {% if messages %}
                    <tr>
                        {% for message in messages %}
                        <td class="text-red-500 text-center pt-2 md:text-sm text-xs md:text-base">{{ message }}</td>
                        {% endfor %}
                    </tr>
                {% endif %} 
            </table>  
        </form>
        <p class="text-sm pt-6 text-center">Don't have an account yet? <a class="text-[#247FB8] hover:text-[#003F7E]" href="{% url 'authentication:register' %}">Register</a></p>
    </div>
</div>

{% endblock content %}