{% extends "base.html" %}

{% block meta %}
    <title>Reviews | RentAcross</title>
{% endblock meta %}


{% block content %}
<div class="flex justify-center items-center min-h-screen py-10">
    <div class="md:w-3/5 w-3/4 px-10 flex flex-col gap-2 p-5 bg-white text-white rounded-2xl shadow-lg">
        <h1 class="py-5 text-2xl text-black font-bold">Reviews</h1>
        
        {% include 'user_reviews.html' %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="text-center">
                        <p class="text-green-600">{{message}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Item Container -->
        <div class="flex flex-col gap-3 mt-5">
            {% if reviews %}
                {% for review in reviews reversed %}
                    <div class="flex flex-col gap-4 bg-gray-50 p-4 rounded-xl shadow-lg">
                        <!-- Profile and Rating -->
                        <div class="flex justify justify-between">
                            <div class="flex gap-2">
                                <span class="text-black font-medium">{{ review.user.username }}</span>
                            </div>
                            <div class="flex p-1 gap-1 text-orange-300">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= review.rating %}
                                        <p class="text-sm">⭐</p>
                                    {% endif%}
                                {% endfor %}                        
                            </div>
                        </div>
                    
                        <div class="text-black">
                            {{ review.review }}
                        </div>
                    
                        <div class="flex justify-between">
                            <span class="text-gray-500 mt-2">{{ review.date }}</span>
                            {% if review.user == user %}
                                <a href="">
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-flex items-center transition duration-200">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5 h-5 mr-2">
                                            <path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
                                        </svg>
                                        Edit
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-gray-600 font-medium text-center py-4">No reviews yet, be the first to write a review!</p>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock content %}