{% extends "base.html" %}
<!-- Placeholder sementara  -->

{% block meta %}
<title>All Posts | RentAcross</title>
{% endblock meta %}

{% block header %}
<h2>All Posts</h2>
{% endblock header %}

{% block content %}
<!-- Cards -->
<div class="row" id="posts">

</div>
{% endblock content %}

{% block script %}
<script>
    async function getAllPosts() {
        return fetch("{% url 'all_posts_json' %}").then((res) => res.json())
    }

    async function refreshPosts() {

        document.getElementById("posts").innerHTML = ""
        const posts = await getAllPosts()
        let htmlString = ``

        if (posts.length==0) {
            htmlString+=`<span>*No Posts Yet</span>`
        } else {
            posts.forEach((post) => {
                const postDetailUrl = `/posts/${post.pk}/`;  // Construct the URL manually
                htmlString += `
                <a href="${postDetailUrl}">
                    <div>${post.fields.nama_properti}
                    </div>
                </a>`
            })
        }
        document.getElementById("posts").innerHTML = htmlString
    }
    refreshPosts()

</script>
{% endblock script %}
