{% extends 'base.html' %}

{% block meta %}
<title>New Post | RentAcross</title>
{% endblock meta %}

{% block content %}
<div class="max-w-xl mx-auto mt-10 space-y-4">
    <h2 class="block font-bold text-xl text-gray-700 text-center">New Post</h2>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" action="{% url 'new_post' %}">
        {% csrf_token %}
        <div class="mb-4 w-full">
            <label class="block text-gray-700 font-bold mb-2" for="nama">
                Listing title
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nama" name="nama" type="text" placeholder="1 bedroom in beautiful apartment in Venice">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="deskripsi">
                Description & Amenities
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="deskripsi" name="deskripsi" placeholder="What's the listing like?"></textarea>
        </div>
        <div class="mb-4 w-full">
            <label class="block text-gray-700 font-bold mb-2" for="foto">
                Add a Photo
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="foto" name="foto" type="url" placeholder="https://">
        </div>
        <div class="mb-4 w-full">
            <label class="block text-gray-700 font-bold mb-2" for="negara">
                Select Country
            </label>
            <select id="negara" name="negara" onchange="fetchCities(this.value)" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                <!-- Options fetched asynchronously -->
            </select>
        </div>
        <div class="mb-4 w-full">
            <label class="block text-gray-700 font-bold mb-2" for="kota">
                Select City
            </label>
            <select disabled id="kota" name="kota" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                <!-- Options fetched asynchronously -->
            </select>
        </div>
        <div class="mb-4 w-full">
            <label class="block text-gray-700 font-bold mb-2" for="kodepos">
                Postal Code
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="kodepos" name="kodepos" pattern="[0-9]{5}" title="Enter a valid 5-digit postal code" maxlength="5" required>
        </div>
        <!-- Action Buttons -->
        <div class="flex items-center justify-end space-x-2">
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" onClick="goBack()">Cancel</button>    
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Create</button>
        </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script>
    function goBack() {
    window.history.back();
    }

    async function getCountries() {
        return fetch("https://countriesnow.space/api/v0.1/countries/iso").then(response => response.json()).then(a => a.data)
    }
    
    async function setCountriesOptions() {
        countryDropdown = document.getElementById("negara")
        countryDropdown.innerHTML = '<option value="" disabled selected>Select Country</option>';

        const countries = await getCountries()
        let htmlString = ``

        if (countries.length==0) {
            htmlString+=`<span>*No countries yet</span>`
        } else {
            countries.forEach(country => {
                const option = document.createElement('option');
                option.value = country.name;
                option.text = country.name;
                countryDropdown.appendChild(option);
            });
        }
    }
    setCountriesOptions()

    function fetchCities(countryName) {
        const cityDropdown = document.getElementById('kota');

        
        cityDropdown.innerHTML = '<option value="" disabled selected>Select City</option>';
        
        fetch('https://countriesnow.space/api/v0.1/countries/cities', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ country: countryName }),
        })
        .then(response => response.json()).then(res => res.data)
        .then(cities => {
            cities.forEach(city => {
                const option = document.createElement('option');
                option.value = city;
                option.text = city;
                cityDropdown.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching city data:', error));
        cityDropdown.disabled = false;
    }

</script>
{% endblock script %}