{% extends "base.html" %}
<!-- Placeholder sementara  -->

{% block meta %}
<title>Post Not Found | RentAcross</title>
{% endblock meta %} {% block content %}
<div class="flex flex-col items-center gap-2 py-8">
  <div class="text-center text-3xl block font-bold text-[#003f7e] ">Post Not Found</div>
</div>

{% block script %}
<script>
  const isAuthented = "{{ request.user.is_authenticated }}" == "True";
  let buttonStatus = getButton();

  async function getButton() {
    if (isAuthented) {
      const favList = await getFavoritePosts();
      const isFavorite = favList.some(
        (favorite) => favorite.pk + '' === "{{post.pk}}"
      );

      if (isFavorite) {
        document.getElementById(
          "favorite_button"
        ).innerHTML = `<button class="mr-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="deleteFavorite({{ post.pk }})">Remove from Favorites</button>`;
        return true;
      } else {
        document.getElementById(
          "favorite_button"
        ).innerHTML = `<button class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="addToFavorites({{ post.pk }})">Add to Favorites</button>`;
        return false;
      }
    } else {
      document.getElementById("favorite_button").innerHTML = `<div></div>`;
      return null;
    }
  }

  async function getFavoritePosts() {
    if (isAuthented) {
      return fetch("{% url 'userData:favorites_json' %}").then((res) =>
        res.json()
      );
    } else {
      return [];
    }
  }

  async function addToFavorites(postId) {
    if (!isAuthented) {
      alert("Please log in to add posts to favorites.");
      return;
    }

    try {
      const response = await fetch(
        `{% url 'userData:add_favorite' post_id=0 %}`.replace("0", postId),
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}",
          },
          body: JSON.stringify({}),
        }
      );

      if (response.ok) {
        refreshPostStatus();
      } else if (response.status === 404) {
        alert("Post not found");
      } else {
        alert("Error adding to favorites");
      }
    } catch (error) {
      console.error("Error adding to favorites", error);
      alert("Error adding to favorites");
    }
  }

  async function deleteFavorite(postId) {
    const response = await fetch(
      `{% url 'userData:delete_favorite' id=0 %}`.replace("0", postId),
      {
        method: "DELETE",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      }
    );

    if (response.ok) {
      refreshPostStatus();
    } else {
      console.error("Failed to delete favorite post.");
    }
  }

  async function refreshPostStatus() {
    buttonStatus = await getButton(); // Call getButton asynchronously
  }

  getButton();
</script>
{% endblock script %} {% endblock content %}
