{% extends "base.html" %}
<!-- Placeholder sementara  -->

{% block meta %}
<title>Search Posts | RentAcross</title>
{% endblock meta %}

{% block content %}
<div class="flex flex-col items-center gap-2 py-8">
  <div class="text-center text-3xl block font-bold text-[#003f7e] ">Search Result{% if searched_post %} for "{{ searched_post }}"{% endif %}</div>
  <div>
      <form id="search-form" method="post" action="{% url 'search_post' %}" class="flex items-center px-5 py-1">
          {% csrf_token %}
          <input
            type="text"
            name="searched_post"
            id="search-input"
            placeholder="Search Posts"
            class="px-4 py-2 border border-gray-300 rounded-l-full focus:outline-none focus:border-blue-500"
          />
          <button
            type="button"
            onclick="validateAndSubmitSearch()"
            class="bg-[#003f7e] text-white px-4 py-2 rounded-r-full hover:bg-[#003f7e] focus:outline-none"
          >
            Search
          </button>
        </form>
  </div>
</div>

<!-- Cards -->
  {% if posts %}
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 pb-8 justify-items-stretch" id="search_results">
    {% for post in posts %}
    <div class="search-result">
      <a href='/posts/{{post.pk}}/'>
        <div class="relative rounded overflow-hidden shadow-lg h-96">
            <img class="w-full h-48 object-scale-down" src="{{post.foto_properti}}" alt="Foto properti">
            <div class="px-6 py-4">
                <div class="font-bold line-clamp-2 text-xl mb-2">{{ post.nama_properti }}</div>
                <p class="text-gray-700 line-clamp-2 text-base">{{ post.deskripsi_properti }}</p>
            </div>
            <div class="px-6 pt-2 pb-2 grid-cols-4 grid absolute bottom-0 w-full">
                <p class="col-span-3 inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ post.kota_properti }}, {{ post.negara_properti }}</p>
            </div>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>  
  {% else %}
  <h5 class="text-center text-2xl block font-bold text-gray-700 py-8 w-full">No properties found for "{{ searched_post }}".</h5>
  {% endif %}
{% endblock content %}

{% block script %}
<script>
    async function searchPosts() {
      const searchedPost = document.getElementById('searched_post').value;
      const formData = new FormData();
      formData.append('searched_post', searchedPost);

      const response = await fetch("{% url 'search_post' %}", {
        method: 'POST',
        body: formData
    });

      const result = await response.text();
      document.getElementById('search_results').innerHTML = result;
    }
    searchPosts()
</script>
{% endblock script %}
