{% extends 'base.html' %}

{% block title %}Favorite Posts{% endblock title %}

{% block content %}
    <div class="py-8 px-4 sm:px-8 md:px-16 lg:px-32 bg-blue-50 text-white min-h-screen">
        <h1 class="text-4xl font-bold mb-16 text-[#003f7e] text-center">Favorite Page</h1>

        <div id="favoritePosts" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-4"></div>
    </div>

    {% block script %}
    <script>
        async function getFavoritePosts() {
            return fetch("{% url 'userData:favorites_json' %}").then((res) => res.json());
        }

        async function refreshFavoritePosts() {
            document.getElementById("favoritePosts").innerHTML = "";
            const favoritePosts = await getFavoritePosts();
            let htmlString = ``;

            if (favoritePosts.length === 0) {
                htmlString += `
                    <div class="flex flex-col items-center justify-center text-center mb-8">
                        <img class="w-32 mb-4" src="https://i.redd.it/fxgqn3rgm7jb1.jpg" alt="Image">
                        <span class="text-black font-bold text-xl">No Favorite Posts Yet</span>
                    </div>`;
            } else {
                favoritePosts.forEach((post) => {
                    const postDetailUrl = `/posts/${post.pk}/`;
                    htmlString += `
                    <div class="w-full text-black max-w-xs relative rounded overflow-hidden shadow-lg h-96 place-self-center">
                        <a href=${postDetailUrl}>
                            <img class="w-full h-48 object-scale-down" src="${post.fields.foto_properti}" alt="Foto properti">
                            <div class="px-6 py-4">
                                <div class="font-bold line-clamp-2 text-xl mb-2">${post.fields.nama_properti}</div>
                                <p class="text-gray-700 line-clamp-2 text-base">${post.fields.deskripsi_properti}</p>
                            </div>
                            <div class="px-6 pt-2 pb-2 line-clamp-1">
                                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">${post.fields.kota_properti}, ${post.fields.negara_properti}</span>
                            </div>
                        </a>
                        <button class="mx-6 bg-red-500 hover:bg-red-700 text-white px-3 py-1 rounded-full font-semibold text-sm" onclick="deleteFavorite(${post.pk})">Delete</button>
                    </div>
                    `;
                });

                htmlString += `</div>`;
            }
            document.getElementById("favoritePosts").innerHTML = htmlString;
        }

        async function deleteFavorite(postId) {
            const response = await fetch(`{% url 'userData:delete_favorite' id=0 %}`.replace('0', postId), {
                method: 'DELETE',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
            });

            if (response.ok) {
                // Refresh the list of favorite posts after deletion
                refreshFavoritePosts();
            } else {
                console.error('Failed to delete favorite post.');
            }
        }

        // Call the function to refresh favorite posts on page load
        refreshFavoritePosts();
    </script>
    {% endblock script %}
{% endblock content %}
